@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px; 
  }

  body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 18vh;
  }
  
  .logo h1 {
    font-size: 24px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: gray;
  }

#Oleo-img {
  height: auto;
  max-width: 100px; /* Ajuste a largura máxima conforme necessário */
  vertical-align: middle; /* Alinha a imagem com o texto */
  margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.p-Info-peça a {
  color: #000; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado do link */
  font-weight: bold; /* Deixa o texto em negrito */
}

.p-Info-peça {
  padding: 20px;
  display: flex;
  align-items: center; /* Alinha a imagem e o texto verticalmente */
}

#peca-detalhes {
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #efefef; /* Cor de fundo suave */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar o conteúdo */
  max-width: 50vw; /* Largura máxima para limitar o tamanho do bloco */
}

#peca-detalhes h3 {
  font-size: 1.5rem; /* Tamanho maior para o título */
  color: #333; /* Cor do título */
  margin-bottom: 10px; /* Espaçamento entre o título e o parágrafo */
  font-weight: bold;
}

.p2-descriçao_peça {
  font-size: 1rem; /* Tamanho da fonte para o parágrafo */
  line-height: 1.6; /* Aumenta o espaçamento entre linhas para facilitar a leitura */
  color: #555; /* Cor do texto */
  text-align: justify; /* Justifica o texto */
}


h2{
    font-size: 28px;
    color: #333;
    margin-bottom: -10px;
    padding: 20px;
}

#peca-detalhes h3 {
    font-size: 22px;
    color: #333;
}

#peca-detalhes p {
    font-size: 16px;
    color: #555;
}

/* -----------FOOTER--------------- */

.footer {
    background-color: #A9A9A9;
    padding: 1.9vh 0vh;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    margin: 0;
    padding: 10px 0;
  }